<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title"><b>My Purchases</b></h3>
    </div>
    <div class="box-body" style="min-height:700px;">
        Class Package Purchases will be displayed here.
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
